@using PrestadorServico.Models;

@{
    ViewBag.Title = "Relatório de Serviços Prestados";
}

<br />

<div class="container">
    <div class="alert alert-info">
        <strong>Info!</strong> Por padrão ao abrir o relatório mostra os seus dez últimos serviços, ordenado pelo mais recente. Para mais informações gere o relatório com os filtros desejados.
    </div>
    <div class="form-area form-inline">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Relatório de Serviços Prestados</div>
            </div>

            <div style="padding-top:30px; line-height: 300%; text-align:right" class="form-group panel-body">

                <div class="col-xs-4">
                    <label>Cliente</label>
                    <div class="input-group" style="width:200px;">
                        @Html.DropDownList("CultureCode", (List<SelectListItem>)ViewData["Clientes"], string.Empty, htmlAttributes: new { @class = "form-control", id = "ddlCliente" })
                    </div>
                </div>

                <div class="col-xs-4">
                    <label>Estado</label>
                    <div class="input-group" style="width:200px;">
                        @Html.DropDownList("CultureCode", (List<SelectListItem>)ViewData["Estados"], string.Empty, htmlAttributes: new { @class = "form-control", id = "ddlEstado" })
                    </div>
                </div>

                <div class="col-xs-4">
                    <label>Cidade</label>
                    <div class="input-group" style="width:200px;">
                        @Html.DropDownList("CultureCode", (List<SelectListItem>)ViewData["Cidades"], string.Empty, htmlAttributes: new { @class = "form-control", id = "ddlCidade" })
                    </div>
                </div>

                <div class="col-xs-4">
                    <label>Bairro</label>
                    <div class="input-group" style="width:200px;">
                        @Html.TextBox("Bairro", null, new { @class = "form-control", id = "txtBairro" })
                    </div>
                </div>

                <div class="col-xs-4">
                    <label>Tipo</label>
                    <div class="input-group" style="width:200px;">
                        @Html.DropDownList("Tipo", EnumHelper.GetSelectList(typeof(enumServico)), string.Empty, new { @class = "form-control", id = "ddlTipo" })
                    </div>
                </div>

                <div class="col-xs-4">
                    <label>Valor mínimo</label>
                    <div class="input-group" style="width:200px;">
                        @Html.TextBox("ValorMinimo", null, new { @class = "form-control", id = "txtValorMinimo" })
                    </div>
                </div>

                <div class="col-xs-4">
                    <label>Valor máximo</label>
                    <div class="input-group" style="width:200px;">
                        @Html.TextBox("ValorMaximo", null, new { @class = "form-control", id = "txtValorMaximo" })
                    </div>
                </div>

                <div style="margin-top:10px">

                    <div class="col-sm-12 controls">

                        <input type="button" value="Gerar" class="btn primary btn-lg" />

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("List", (IEnumerable<PrestadorServico.Models.ServicoModels>)ViewData["Servicos"])

@section scripts{

    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")

    <script type="text/javascript">
    $(function () {
        $(function(){
            $(".btn").click(function(){
                $.ajax({
                    url: '@Url.Action("List", "Report")',
                    type: "GET",
                    data: {
                        cliente: $("#ddlCliente").val(),
                        estado: $("#ddlEstado").val(),
                        cidade: $("#ddlCidade").val(),
                        bairro: $("#txtBairro").val(),
                        tipo: $("#ddlTipo").val(),
                        valorMinimo: $("#txtValorMinimo").val(),
                        valorMaximo: $("#txtValorMaximo").val()
                    }
                })
                .done(function (partialViewResult) {
                    $("#divList").html(partialViewResult);
                });
            });
        });
    });
    </script>
}

